{
	auto_https off
}

:80 {
	handle /health {
		reverse_proxy site-api:8080
	}

	handle /api/health {
		rewrite * /health
		reverse_proxy site-api:8080
	}

	handle /api/* {
		reverse_proxy site-api:8080
	}

	handle {
		reverse_proxy {
			dynamic a {
				name site-web
				port 8080
				refresh 5s
			}
		}
	}
}
