{
	auto_https off
}

:80 {
	handle /health {
		reverse_proxy central-api:8080
	}

	handle /api/* {
		reverse_proxy central-api:8080
	}

	handle {
		reverse_proxy {
			dynamic a {
				name central-web
				port 8080
				refresh 5s
			}
		}
	}
}
